<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>@ViewBag.Title</title>
    <link href="/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="/skin/default/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/js/layui/css/layui.css" media="all">
    @RenderSection("css", false)
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    @RenderSection("js", false)
    <script type="text/javascript">
        //页面加载完成时
        $(function () {
            //检测IE
            if ('undefined' == typeof (document.body.style.maxHeight)) {
                window.location.href = 'ie6update.html';
            }
        });
    </script>
</head>
<body>
    <script>
        var m_lt = $(".main-list");
        var m_or = $(".main-over");
        var w1 = m_lt.width();
        var w2 = m_or.width();
        if (w1 > w2) {

        } else {
            var w0 = w2 - w1;
            m_or.scrollLeft(50);
            var sd = m_or.scrollLeft();
            m_or.scrollLeft(w0);

            m_or.attr("style", "left: -1000px;");
        }
    </script>
    <!--加载效果-->
    <div class="loading">
        <div class="pic">
            <!--外面的圈圈-->
            <span></span>
            <!--数据加载进度（百分比数字）-->
            <b>加载中...</b>
        </div>
    </div>

    @RenderBody()

    @RenderSection("jsbottom", false)
</body>
</html>
