<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    @RenderSection("css", false)
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/vendor/popper.js/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/vendor/chart.js/chart.min.js"></script>
    <script src="~/js/carbon.js"></script>

    @RenderSection("js", false)
</head>
<body class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <nav class="navbar page-header">
            <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                <i class="fa fa-bars"></i>
            </a>

            <a class="navbar-brand" href="#">
                @*<img src="~/imgs/logo.png" alt="logo">*@
                <p class="font-weight-bold mb-1" id="ranks">您今日排名 </p>
            </a>

            <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                <i class="fa fa-bars"></i>
            </a>

            <ul class="navbar-nav ml-auto">
                @*<li class="nav-item d-md-down-none">
                        <a href="#">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-pill badge-danger">5</span>
                        </a>
                    </li>*@

                <li class="nav-item d-md-down-none">
                    <a href="#" data-toggle="modal" data-target="#modal-6">
                        <i class="fa fa-envelope-open"></i>
                        <span class="badge badge-pill badge-danger" id="AyEmails">0</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/imgs/icon-256x256.png" class="avatar avatar-sm" alt="logo">
                        <span class="small ml-1 d-md-down-none">你的名字</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header">用户</div>

                        <a href="/Risk/Index" class="dropdown-item" align="center">
                            <i class="fa fa-user"></i> 个人信息
                        </a>

                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modal-6" align="center">
                            <i class="fa fa-envelope"></i> 系统邮件
                        </a>

                        <div class="dropdown-header">设置</div>

                        @*<a href="#" class="dropdown-item">
                                <i class="fa fa-bell"></i> Notifications
                            </a>*@

                        @*<a href="#" class="dropdown-item" align="center">
                                <i class="fa fa-wrench"></i> 修改密码
                            </a>*@

                        <a href="/Risk/Logout" class="dropdown-item" align="center">
                            <i class="fa fa-lock"></i> 登出
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="main-container">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-title">个人信息</li>

                        <li class="nav-item">
                            <a href="/Risk/Index" class="nav-link">
                                <i class="icon icon-info"></i> 个人信息
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/Risk/未知" class="nav-link">
                                <i class="icon-lock"></i> 未知
                            </a>
                        </li>

                        <li class="nav-item nav-dropdown">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-calculator"></i> 未知 <i class="fa fa-caret-left"></i>
                            </a>

                            <ul class="nav-dropdown-items">

                                <li class="nav-item">
                                    <a href="/Risk/未知" class="nav-link">
                                        &nbsp;  &nbsp;  &nbsp; <i class="icon icon-calculator"></i>未知
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Risk/未知" class="nav-link">
                                        &nbsp;  &nbsp;  &nbsp; <i class="icon icon-calculator"></i> 未知
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Risk/未知" class="nav-link">
                                        &nbsp;  &nbsp;  &nbsp; <i class="icon icon-calculator"></i> 未知
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="/Risk/未知" class="nav-link">
                                <i class="icon-present"></i> 未知
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>

            <div class="content">
                <div class="container-fluid">
                    <div class="row" id="VueApp">
                        @RenderBody()
                    </div>
                    <div>
                        <div class="modal fade" id="modal-6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary border-0">
                                        <h5 class="modal-title text-white">系统消息</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body p-3">

                                        <div id="emaillistbox">

                                        </div>

                                        <div id="emailconbox" style="display:none">
                                            <span class="spemailtitle">sad</span>
                                            <span class="spemailcon">hhhhh</span>
                                            <span class="sptime">2020-06-01 11:05:08</span>
                                        </div>

                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" class="btn btn-link btn-outline-primary" id="btnReturn" style="display:none">返回</button>
                                        <button type="button" class="btn btn-link btn-outline-danger" data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderSection("jsbottom", false)
            </div>
        </div>
    </div>
</body>
</html>
